<!-- <!DOCTYPE HTML> -->
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<!--     <body> -->
<!--         <form action="#" th:action="@{/showStudentsPerCourse}" th:object="${student}" method="post"> -->
<!--             <table> -->
<!--                 <tr> -->
<!--                     <td>Course you want to find:</td> -->
<!--                     <td><input type="text" th:field="*{student}" /></td> -->
<!--                 </tr> -->
<!--                 <tr> -->
<!--                     <td><button type="submit">Submit</button></td> -->
<!--                 </tr> -->
<!--             </table> -->
<!--         </form> -->
<!--     </body> -->
<!-- </html> -->